<p>
  {{#if (eq summary.type "roll")}}
  {{localize "FFD20.LevelUp.Health.Roll.Desc"}}
  {{/if}}

  {{#if (eq summary.type "manual")}}
  {{localize "FFD20.LevelUp.Chat.Health.Manual" add=summary.hp}}
  {{/if}}
</p>
