<h1>{{localize "FFD20.Help.Content.Items.Flags.Label"}}</h1>

<p>{{localize "FFD20.Help.Content.Items.Flags.Desc.Basic"}}</p>

<h2>{{localize "FFD20.FlagsDictionary"}}</h2>

<p>{{{localize "FFD20.Help.Content.Items.Flags.Desc.DictionaryFlags.Basic"}}}</p>
