<div class="dice-tooltip">
  <div class="damage-tooltip flexrow tooltip">
    {{!-- Formula Tooltip --}}
    <div class="tooltipcontent">
      {{#each part.rolls as |roll|}}
      <span class="roll-formula">{{roll.formula}}</span>
      <span class="roll-total"> = {{roll.total}}</span>
      <br>
      {{/each}}
    </div>

    {{!-- Damage amount and type --}}
    <span class="damage-amount">{{ part.total }}</span>
    <span class="damage-type">{{ part.damageType }}</span>
  </div>
</div>
