<div class="item-list-search">
  <input class="search-input" data-key="filters.search.{{category}}" data-category="{{category}}" placeholder="{{localize 'FFD20.SearchFilterPlaceholder'}}" value="{{lookup filters.search category}}"></input>
  <i class="fas fa-times-circle clear-search"></i>
</div>
