<div class="form-group">
    <label>{{localize "TOKEN.VisionLowLight"}}:</label>
    <input type="checkbox" name="flags.pf1.lowLightVision" data-dtype="Boolean" {{checked object.flags.pf1.lowLightVision}}/>
</div>
