<div class="form-group">
    <label>{{localize "TOKEN.VisionLowLight"}}:</label>
    <input type="checkbox" name="flags.ffd20.lowLightVision" data-dtype="Boolean" {{checked object.flags.ffd20.lowLightVision}}/>
</div>
