<div class="controls">
  <a class="delete" data-tooltip="FFD20.Delete" data-change-id="{{changeId}}">
    <i class="fa-solid fa-trash" inert></i>
  </a>
  <a class="duplicate" data-tooltip="FFD20.Duplicate" data-change-id="{{changeId}}">
    <i class="fa-solid fa-copy" inert></i>
  </a>
  <a class="edit" data-tooltip="FFD20.Edit" data-change-id="{{changeId}}">
    <i class="fa-solid fa-edit" inert></i>
  </a>
</div>
