<div class="action-summary">
  {{#if description}}
  <div class="description">
    {{{description}}}
  </div>
  {{else}}
  <p class="info">{{localize "FFD20.NoDescription"}}</p>
  {{/if}}

  <div class="action-properties tag-list">
  {{#each properties}}
    <span class="tag">{{{this}}}</span>
  {{/each}}
  </div>
</div>
