<div class="form-group flexrow multischool">
  <label>{{localize "FFD20.SpellSchools.core.multiSchool"}}</label>
  <div class="form-fields">
    <ul class="traits-list tag-list">
      {{#each multischool.selected as |v k|}}
        <li class="tag {{k}}">{{v}}</li>
      {{/each}}
    </ul>
    <a class="trait-selector" data-title="FFD20.SpellSchools.core.multiSchool" data-for="system.multischool" data-options="multischool" data-school={{system.school}}><i class="fa-solid fa-edit" inert></i></a>
  </div>
</div>
