<form autocomplete="off">
    <div class="form-group">
        <button type="submit" name="submit" >
            <i class="far fa-save"></i> {{localize "SETTINGS.Save"}}
        </button>
    </div>
</form>
