<div class="dice-roll">
  {{#if flavor}}
  <div class="dice-flavor">{{flavor}}</div>
  {{/if}}

  <div class="dice-result">
    <h3 class="roll-total dice-total{{#if hasDetails}} has-details{{/if}}" data-tooltip="{{formula}}">
      <i class="fa-solid fa-dice-d20" inert></i>
      {{total}}
    </h3>

    {{{details}}}
  </div>
</div>
