<form class="{{cssClass}} flexcol" autocomplete="off">
    <div class="form-group stacked command">
        <label>{{localize "PF1.Command"}}</label>
        <textarea name="command">{{command}}</textarea>
    </div>

    <footer class="sheet-footer flexrow">
        <button type="submit"><i class="fas fa-save"></i> {{localize "PF1.Save"}}</button>
    </footer>
</form>
