<section class="form-content" data-tooltip-class="pf1-v2">
  <header>
    <input name="name" type="text" value="{{name}}" placeholder="{{localize "FFD20.Name"}}" data-tooltip="Name">
  </header>

  <div class="command">
    <label>
      {{localize "FFD20.Command"}}
      <a class="help-browser" data-url="Help/Items/Script-Calls">
        <i class="far fa-question-circle"></i>
      </a>
    </label>
    <textarea name="command" spellcheck="false">{{command}}</textarea>
  </div>
</section>
