<section data-tooltip-class="ffd20">
  {{formGroup fields.default label="FFD20.Default" value=default blank=false localize=true name="default"}}

  <hr>

  {{#each users}}
  {{formGroup @root.fields.toggle label=user.name value=level blank="FFD20.Default" localize=true name=(concat "users." user.id)}}
  {{/each}}

  <hr>
</section>
