<p>{{localize "FFD20.LevelUp.Health.Manual.Desc"}}</p>

<div class="form-group">
  <label>{{localize "FFD20.Value"}}</label>
  <input class="section-choice" type="text" name="health:manualValue" data-dtype="Number" value="{{section.manualValue}}" placeholder="0" />
</div>